.product-item {
  &__counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    width: 98px;
    height: 38px;

    border-radius: 12px;
    border: 1px solid var(--Main, #FF99D6);
    background: rgba(255, 153, 214, 0.10);
  }

  &__counter-btn {
    cursor: pointer;
    color: $text-gray-dark;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $text-gray-dark;
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: $fw-bold;
  }
}
